.heading{
    width: 100%;
    font-size: 20px;
}
#instructions{
    border: 1px solid white;
    margin-top: 7px;
}
.model-dialog{
    width: 90%;
}
#foot_ER{
    width: 100%;
    position: sticky;
    margin-bottom: 0;
}